﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="showpicture.aspx.vb" Inherits="showpicture" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <title>Vis bilde</title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
    <div>
    
    </div>
    </body>
</html>
