<%@ Page Language="vb" AutoEventWireup="false" Inherits="intranett.kunde_main" CodeFile="kunde_main.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML>
	<HEAD>
		<TITLE>intern.ntb.no</TITLE>
		<link rel="stylesheet" href="css/styles.css">
	</HEAD>
	
	<frameset rows="40,*" frameborder="0">
		<frame name="kunder_top" src="../section.aspx?section=KUNDER_TOP" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" noresize>

		<frameset cols="225,225,225,*" border="0" frameborder="0" framespacing="0">
			<frame name="kunder_1" src="<%= url %>" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize>
			<frame name="kunder_2" src="../section.aspx?section=KUNDER_2" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize>
			<frame name="kunder_3" src="../section.aspx?section=KUNDER_3" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0" noresize>
		</frameset>
	
	</frameset>

</HTML>
