<%@ Page Language="vb" AutoEventWireup="false" Inherits="intranett.internavis_menu" CodeFile="internavis_menu.aspx.vb" %>
<%@ Register TagPrefix="custom" TagName="internavis_list" src="internavis_list.ascx"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>intern.ntb.no</title>
	<link rel="stylesheet" href="../css/styles.css" />
	<style>
	
	body {
		background = #FFFFFF
	}
	
	</style>
</head>
<body leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
			<table width="150" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"><tr><td><img src="images/t.gif" height=4 width=1><br></td></tr></table>
			<table width="150" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign=top align=left width="150">
						<img src="images/t.gif" height=3 width=1><br>
						<custom:internavis_list id="list" runat="server"></custom:internavis_list> 
					</td>
				</tr>
			</table>
</body>
</html>
