.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size: 13px;
	font-weight: normal;
}

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #FF0000;
	font-size: 13px;
	font-weight: normal;
}

.tiText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size: 11px;
	font-weight: normal;
}

.bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size: 13px;
	font-weight: bold;
}

.smText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	font-size: 10px;
	font-weight: normal;
}

.heading {
	font-family: Arial, Helvetica, sans-serif;
	color : #000000;
	font-size: 19px;
	font-weight: bold;
}

.lgText {

	font-family: Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	color: #000000; 
	font-weight: bold;
}

.tHeading {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold;
}

.tiHeading {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #000000; 
	font-weight: bold;
}

.highlight {
	background-color: #ffff66
}

a  {
	color : #0000FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 13px;
	font-weight: normal;
}

a:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: normal;
}

a:visited {
	color : #990099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: normal;
}

a:visited:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: normal;
}

a.boldLink:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: bold;
}

a.boldLink  {
	color : #0000FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 13px;
	font-weight: bold;
}

a.boldLink:visited {
	color : #990099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: bold;
}

a.boldLink:visited:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 13px;
	font-weight: bold;
}

a.smLink  {
	color : #0000FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 10px;
	font-weight: normal;
}

a.smLink:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: normal;
}

a.smLink:visited  {
	color : #990099;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	font-size: 10px;
	font-weight: normal;
}

a.smLink:visited:hover {
	color : #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: normal;
}

a.nav  {
	color : #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}


a.nav:hover {
	color : #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: bold;
}

a.nav:visited {
	color : #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 10px;
	font-weight: bold;
}

a.nav:visited:hover {
	color : #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: bold;
}


a.npLink  {
	color : #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}


a.npLink:hover {
	color : #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: bold;
}

a.npLink:visited {
	color : #444444;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 10px;
	font-weight: bold;
}

a.npLink:visited:hover {
	color : #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 10px;
	font-weight: bold;
}

a.cat  {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}


a.cat:hover {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 12px;
	font-weight: bold;
}

a.cat:visited {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	font-size: 12px;
	font-weight: bold;
}

a.cat:visited:hover {
	color : #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration : underline;
	font-size: 12px;
	font-weight: bold;
}


ul {
	list-style-type: square;
}

hr {
	height: 0px; 
	border: solid #D1D7DC 0px; 
	border-top-width: 1px;
}